.container {
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
    outline: 1px solid red;
   
}
@media screen and (min-width: 480px) {
    .container {
        max-width: 313px;
    }   
}
@media screen and (min-width: 768px) {
    .container {
        padding: 10px;
        max-width: 664px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        padding: 10px;
        max-width: 1160px;
    }
}