.weatherHourlyChart {
  background: #f2f2f2;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
}

.chartWrapper {
  width: 100%;
  max-width: 700px;
  background: #e0e0e0;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-left: 160px; 
}

.chartTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}



@media (max-width: 768px) {
  .chartWrapper {
    max-width: 90%;
    margin-left: 20px;
  }

  .chartTitle {
    font-size: 18px;
  }
}

